<!-- templates/dashboard.html -->
{{template "header" .}}
{{template "navbar_out" .}}
<main class="flex-grow flex flex-col justify-start items-center mt-16 text-justify">
	<div class="p-10 mx-auto">
        <h1> This is index file </h1>
    </div>
</main>
{{template "footer" .}}