<!-- templates/table.html -->
{{template "header" .}}
{{template "navbar_out" .}}
	<main class="flex-grow flex flex-col justify-start items-center mt-16 text-justify">
		 <h1> this is table index file.</h1>
	</main>
{{template "footer" .}}