<!-- templates/mbody.html -->
{{define "mbody"}}
	<main class="flex-grow flex flex-col justify-start items-center mt-16 text-justify">
		<div class="p-10 mx-auto">
			<h1 class="text-3xl font-bold mb-6">The Bet</h1>
			<p class="mb-3">It was a dark autumn night. The old banker was walking up and down his study and remembering how, fifteen years before, he had given a party one autumn evening. There had been many clever men there, and there had been interesting conversations. Among other things they had talked of capital punishment.</p>
			<p class="mb-3">The majority of the guests, among whom were many journalists and intellectual men, disapproved of the death penalty. They considered that form of punishment out of date, immoral, and unsuitable for Christian States. In the opinion of some of them the death penalty ought to be replaced everywhere by imprisonment for life.</p>
			<p class="mb-3">"I don't agree with you," said their host, the banker. "I have not tried either the death penalty or imprisonment for life, but if one may judge a priori, the death penalty is more moral and more humane than imprisonment for life. Capital punishment kills a man at once, but lifelong imprisonment kills him slowly. Which executioner is the more humane, he who kills you in a few minutes or he who drags the life out of you in the course of many years?"</p>
			<p class="mb-3">"I don't agree with you," said the guest. "I have neither capital punishment nor imprisonment for life. But if one may judge a priori, the death penalty appears to me more humane than imprisonment for life. The death penalty suppresses the possibility of revenge. Imprisonment for life, on the contrary, multiplies it. In prison, a prisoner's life is unconditionally dependent on the jailer's will. He may not see daylight or hear the voice of humans, he may not run, drink, or smoke, go beyond the limits drawn around him. Every breach of the rules is severely punished. He may be beaten, tortured, and killed. But there is a chance of life and freedom for him. And no executioner, no matter how humane, will kill a prisoner who has become accustomed to imprisonment and has lost all fear of death. It is a punishment incomparably more severe than the death penalty."</p>
			<p class="mb-3">"You think so because you have never been in prison," said the banker. "You only know what imagination, a newspaper article, or some senseless novel tells you. You have no experience of it: you have not suffered."
				<br>
				<br> "If I had suffered, I would have no right to speak of it. Experience and suffering are not the same. If a man's _suffering_ is too heavy to bear, he can speak. If the agony is too great, he can raise his voice and talk, if only for a minute, against the torture, the pain, and the suffering."</p>
			<p class="mb-3">The banker walked away, then suddenly, as though in haste, returned to the table and wrote: "I wager two million that you will not remain in solitary confinement for fifteen years." "If you lose, I will willingly pay you your two million," the young man replied. "But I am convinced I shall be able to hold out. An agreement, it is said, is an agreement; but that is not so. The agreement was that we should remain exactly fifteen years in confinement. All right, I will stay. But I won't accept the two million."</p>
			<p class="mb-3">The banker, who was then younger and more nervous in those days, was suddenly carried away by excitement, and instead of waiting for the fifteen years to elapse, at once gave orders for the opening of the case containing the petitionary notes, and the restoration of the freedom of the young man.</p>
			<p class="mb-3">The banker recalled all this, and thought: "Tomorrow at twelve o'clock he will regain his freedom. By our agreement, I ought to pay him two million. If I do pay him, it is all over with me. I shall be utterly ruined."</p>
			<p class="mb-3">Fifteen years before, his millions had been beyond his reckoning; now he was afraid to ask himself which were greater, his debts or his assets. Desperate gambling on the Stock Exchange, wild speculation, and the excitability which he could not get over even in advancing years, had by degrees led to the decline of his fortune and the proud, fearless, self-confident millionaire had become a banker of middling rank, trembling at every rise and fall in his investments. "Cursed bet!" muttered the old man, clutching his head in despair. "Why didn't the man die? He is only forty now. He will take my last penny from me, he will marry, will enjoy life, will gamble on the Exchange; while I shall look at him with envy like a beggar, and hear from him every day the same sentence: 'I am indebted to you for the happiness of my life, let me help you!' No, it is too much! The one means of being saved from bankruptcy and disgrace is the death of that man!"</p>
			<p class="mb-3">It struck three o'clock, the banker listened; everyone was asleep in the house and nothing could be heard outside but the rustling of the chilled trees. Trying to make no noise, he took from a fireproof safe the key of the door which had not been opened for fifteen years, put on his overcoat, and went out of the house.</p>
			<p class="mb-3">It was dark and cold in the garden. Rain was falling. A damp cutting wind was racing about the garden, howling and giving the trees no rest. The banker strained his eyes, but could see neither the earth nor the white statues, nor the lodge, nor the trees. Going to the spot where the lodge stood, he twice called the watchman. No answer followed. Evidently the watchman had sought shelter from the weather, and was now asleep somewhere in the kitchen or the greenhouse.</p>
			<p class="mb-3">"If I had the pluck to carry out my intention," thought the old man, "suspicion would fall first upon the watchman."</p>
			<p class="mb-3">He felt in the darkness for the steps and the door, and went into the entry of the lodge. Then he groped his way into a little passage and lighted a match. There was not a soul there. There was a bedstead with no bedding on it, and in the corner there was a dark cast-iron stove. The seals on the door that led into the prisoner's rooms were intact.</p>
			<p class="mb-3">When the match went out the old man, trembling with emotion, peeped through the little window. A candle was burning dimly in the prisoner's room. He could see the prisoner himself. He was lying on the bed, with his head on the table, covered with a torn black-edged sheet, and on the sheet, his hand. "He's asleep," said the banker. "He is asleep and most likely dreaming of the millions. And I have only to take this half-dead man, throw him on the bed, stifle him a little with the pillow, and the most conscientious expert would find no sign of a violent death. But let us first read what he has written here..."</p>
			<p class="mb-3">The banker took the page from the table and read as follows:</p>
			<blockquote>
				<p class="mb-3">"Tomorrow at twelve o'clock I regain my freedom and the right to associate with other men, but before I leave this room and see the sunshine, I think it necessary to say a few words to you. On my own clear conscience and before God who sees me, I declare to you that I despise freedom, life, health, and all that your books call the blessings of the world.</p>
				<p class="mb-3">For fifteen years I have diligently studied earthly life. True, I saw neither the earth nor the sky nor your face; I saw nothing but a cell of four walls. God, you know how eagerly I longed to comprehend for myself the illimitable distances in your creation, and the meaning of life on earth. These books, which I found, and this pencil in my hand, these are the only joys I have had during my imprisonment.</p>
				<p class="mb-3">But now I am going outside, and I shudder at the thought of returning to my cell; for I am horrified by what I have just read: there are limits to human endurance. I hope, therefore, that you will not object to my taking my leave at once, without waiting till tomorrow."</p>
			</blockquote>
			<p class="mb-3">The old man put the page on the table and burst into tears. He was quickly followed by the banker, who also wept. At that moment the banker hated the millions which, according to him, had become a useless burden on him. "You have lost your reason and taken the wrong path," said he. "You have taken lies for truth, and hideousness for beauty. You would marvel if, owing to strange events of some sorts, frogs and lizards suddenly grew on apple and orange trees instead of fruit, or if roses began to smell like a sweating horse; so I marvel at you who exchange heaven for earth. I don't want to understand you."</p>
			<p class="mb-3">"And I," said the prisoner, "have never ceased to be perplexed by sensations of _despair_ and _hope_ ."
				<br>
				<br> "You are right," said the banker. "You are right. We are made to make mistakes. Perhaps in time we shall learn. There is no need to hurry. Life is well lived, if it is well spent. Be quick and say what you wish to say, for we have limited time."</p>
			<p class="mb-3">"I don't want to," said the prisoner. "I only say there are books, and there they will remain. If you think they are worth anything, pay me for them, if not, farewell."</p>
			<p class="mb-3">And without waiting for the answer of the man whom he had held so dear and who had grown so old, he cast himself on his bed and died.</p>
			<p class="mb-3">The End</p>
		</div>
	</main>
{{end}}