<!-- templates/navbar.html -->
{{define "navbar_out"}}
<body class="bg-green-300 sm:bg-red-400 md:bg-gray-400 lg:bg-blue-400 xl:bg-yellow-400 2xl:bg-slate-500 dark:bg-gray-900">
	<style>
	ul.breadcrumb li+li::before {
		content: "\276F";
		padding-left: 8px;
		padding-right: 4px;
		color: inherit;
	}
	
	ul.breadcrumb li span {
		opacity: 60%;
	}
	
	#sidebar {
		-webkit-transition: all 300ms cubic-bezier(0, 0.77, 0.58, 1);
		transition: all 300ms cubic-bezier(0, 0.77, 0.58, 1);
	}
	
	#sidebar.show {
		transform: translateX(0);
	}
	
	#sidebar ul li a.active {
		background: #1f2937;
		background-color: #1f2937;
	}
	</style>
	<!-- Navbar start -->
    <nav id="navbar" class="fixed top-0 z-40 flex w-full flex-row justify-end bg-gray-600 px-8 sm:justify-between">
        <div class="flex space-x-4">
            <img src="./assets/logo.svg" alt="Logo" width="100">
        </div>
        <div class="flex space-x-4 items-center justify-center">
            <div style="height:2.5rem" class="bg-gray-600 flex mt-2 rounded-full font-bold text-sm">
                <div>
                </div>
            </div>
            <div>
            </div>
            <div class="flex justify-center items-center mt-2">
                <button onclick="window.location.href='/login'" class="text-white bg-sky-600 hover:bg-sky-700 hover:-translate-y-1 transition-all duration-500 focus:outline-none focus:ring-200 focus:ring-sky-700 font-medium rounded-full text-sm px-5 py-2.5 text-center mr-2 mb-2 dark:bg-sky-600 dark:hover:bg-sky-700 dark:focus:ring-sky-500">
                    Log In
                </button>
            </div>
			<button id="btnSidebarToggler" type="button" class="py-4 text-2xl text-white hover:text-gray-200">
				<svg id="navClosed" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="h-8 w-8">
					<path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" /> </svg>
				<svg id="navOpen" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="hidden h-8 w-8">
					<path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" /> </svg>
			</button>
        </div>
	</nav>
	<!-- Navbar end -->
	<!-- Sidebar start-->
	<div id="containerSidebar" class="z-40">
		<div class="navbar-menu relative z-40">
			<nav id="sidebar" class="fixed left-0 bottom-0 flex w-3/4 -translate-x-full flex-col overflow-y-auto bg-gray-500 pt-6 pb-8 sm:max-w-xs lg:w-80">
				<!-- one category / navigation group -->
				<div class="px-4 pb-6">
					<h3 class="mb-2 text-sm font-medium uppercase text-green-200">
                    Main
                    </h3>
					<ul class="mb-8 text-sm font-medium">
						<li>
							<a class="active flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600" href="/dashboard"> <span class="select-none">Dashboard</span> </a>
						</li>
						<li>
							<a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600" href="/table"> <span class="select-none">Table</span> </a>
						</li>
					</ul>
				</div>
				<!-- navigation group end-->
				<!-- example copies start -->
				<div class="px-4 pb-6">
					<h3 class="mb-2 text-xs font-medium uppercase text-green-200">
                        Legal
                    </h3>
					<ul class="mb-8 text-sm font-medium">
						<li>
							<a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600" href="#tc"> <span class="select-none">Terms and Condition</span> </a>
						</li>
						<li>
							<a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600" href="#privacy"> <span class="select-none">Privacy policy</span> </a>
						</li>
						<li>
							<a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600" href="#imprint"> <span class="select-none">Imprint</span> </a>
						</li>
					</ul>
				</div>
				<div class="px-4 pb-6">
					<h3 class="mb-2 text-xs font-medium uppercase text-gray-500">
                    Others
                </h3>
					<ul class="mb-8 text-sm font-medium">
						<li>
							<a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600" href="#ex1"> <span class="select-none">...</span> </a>
						</li>
						<li>
							<a class="flex items-center rounded py-3 pl-3 pr-4 text-gray-50 hover:bg-gray-600" href="#ex2"> <span class="select-none">...</span> </a>
						</li>
					</ul>
				</div>
				<!-- example copies end -->
			</nav>
		</div>
		<div class="mx-auto lg:ml-80"></div>
	</div>
	<!-- Sidebar end -->
{{end}}
