
<!DOCTYPE html>
<html>
<head>
    <title>User Data</title>
</head>
<body>
    <h2>List of Users</h2>
    <table>
        <tr>
            <th>User ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Comment</th>
        </tr>
     {{range .user}}
        <tr>
            <td>{{.UserID}}</td>
            <td>{{.Username}}</td>
            <td>{{.Email}}</td>
            <td>{{.Comment}}</td>
        </tr>
    {{end}}
    </table>
</body>
</html>
