<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>User Data</title>
    <!-- Include Vue.js from a CDN -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <h1>User Data</h1>
    <div id="vue-app">
        <table>
            <thead>
                <tr>
                    <th>UserID</th>
                    <th>Username</th>
                    <th>Email</th>
                    <th>Comment</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="[[ user]] in [[users]]" :key="[[user.UserID]]">
                    <td>[[ user.UserID ]]</td>
                    <td>[[ user.Username ]]</td>
                    <td>[[ user.Email ]]</td>
                    <td>[[ user.Comment ]]</td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- Pass user data as JSON to the Vue instance -->
     <script type="text/json" id="user-data">
    { "userJSON": {{.userJSON}} }
    </script>


    <script>
        //var userData = [[ {{ .userJSON }} | json | safe ]];
        new Vue({
            el: '#vue-app',
            delimiters: ['[[', ']]'],
            data: {
                users: JSON.parse(document.getElementById('user-data').textContent).userJSON
            }
        });
    </script>
</body>
</html>
